$bgc-olive: silver
$bgc-silver: transparent
$bgc-gray: gray
$bgc-orange: transparent

$width-main-divs: 30rem
$margin-top-main-divs: .5rem

table
    background-color: $bgc-olive

    width: 35rem

    tr
        background-color: $bgc-silver

        th
            background-color: $bgc-gray

        td
            background-color: $bgc-orange
