<%- include('./main') -%>

<link href="css/main.css" rel="stylesheet">
<link href="css/delete-account.css" rel="stylesheet">

<div class="container d-flex">

    <h4>Deleting Your Account</h4>

    <h6>Are you sure you want to remove your account?</h6>

    <small>If yes, your account will be permanently removed.</small>
    <small>And all your information will be deleted from our database.</small>

    <a href="/player-removed">Yes, I'm Sure!</a>

    <div class="settings-submenu">
        <a href="/profile">Come to Profile</a>
    </div>
    
</div>