<link href="css/game.css" rel="stylesheet">

<div class="game-page d-flex flex-column">

    <small class="player-id" style="display: none"><%- player._id -%></small>

    <div class="game-hands">

        <div class="hand">
            <i class="far fa-hand-rock" onclick="play('rock')"></i>
        </div>

        <div class="hand">
            <i class="far fa-hand-paper" onclick="play('paper')"></i>
        </div>

        <div class="hand">
            <i class="far fa-hand-scissors" onclick="play('scissors')"></i>
        </div>
        
    </div>

    <div class="game-table d-flex justify-content-evenly">
        <div class="selected"></div>
        <div class="opponent"></div>
    </div>

    <div class="game-result d-flex flex-column text-center"></div>

</div>

<script src="js/game.js"></script>