<%- include('./main') -%>

<link href="css/main.css" rel="stylesheet">

<div class="container d-flex flex-column">

    <h1>
        <span>Rock-Paper-Scissors</span>
        the Game
    </h1>

    <h4>Welcome and Have Fun!</h4>

    <% if (player) { %>
        <p><a href="/profile"><%- player.username -%></a></p>
        <p><a href="/logout">Logout</a></p>
    <% } else { %>
        <p>Already a player? <a href="/login">Sign In!</a> </p>
        <p>Not registered yet? <a href="/signup">Sign Up!</a> </p>
    <% } %>

</div>