
<link href="css/home.css" rel="stylesheet">

<div class="presentation">

    <h2 class="home-title">Rock-Paper-Scissors</h2>
    
    <h3 class="home-subtitle">the game</h3>
    
    <p class="home-text">Welcome and Have Fun!</p>
    
    <a class="home-ranking-link" href="/ranking">Check the Ranking</a>

</div>
