
<link href="css/main.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">

<div class="login-page">

    <div class="login-title">
        <h2>Log In!</h2>
    </div>

    <form class="login-form d-flex flex-column justify-content-around">

        <div class="form-group login-username">
            <div class="username-error login-warnings"></div>
            <input type="text" class="form-control" name="username" placeholder="Username">
            <small>
                Forgot your username? <a href="#">Click here!</a>
            </small>
        </div>

        <div class="form-group login-password">
            <div class="password-error login-warnings"></div>
            <input type="password" class="form-control" name="password" placeholder="Password"> 
            <small>
                Forgot your password? <a href="#">Click here!</a>
            </small>
        </div>

        <div class="login-button">
            <button type="submit" class="btn shadow-none">ENTER</button>
        </div>
    
    </form>
      
</div>

<script src="js/login.js"></script>
