
<link href="css/player-removed.css" rel="stylesheet">

<body onload="removedPlayer()">

    <div class="container d-flex">
    
        <div style="display: none" class="playerId"><%- player._id -%></div>
    
        <h4>That's a shame ):</h4>
    
        <h6>We hope that one day you will play with us again!</h6>
    
        <p>You will be redirected to the Home in 5 seconds...</p>
        
    </div>

    <script src="js/player-removed.js"></script>

</body>
