<%- include('./main') -%>

<link href="css/main.css" rel="stylesheet">
<link href="css/ranking.css" rel="stylesheet">

<body>
    
    <div class="container d-flex flex-column">
    
          <div class="ranking-title">
            <h2>Ranking!</h2>
          </div>
    
          
          
    </div>

</body>

<script src="js/ranking.js"></script>
